*.log  
*.plg  
*.bak  
*.dep  
*.uvgui.*  
*.uvguix.*  
JLinkLog.txt  
*.o  
*.d  
*.bin
*.crf  
*.tra  
*.axf  
*.hex  
*.lnp  
*.sct  
*.__i  
*.htm 
*.html
*.ini
*.uvoptx
*.uvprojx
*.dbgconf
proj/

